body.custom-background {
    background-color: #000;
}

.contacto
{
    background-color: transparent;
}

header
{   
    position: relative;
    height: 50px;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba( 0, 0, 0, 0.05);
    z-index: 10009;
}

header img
{
    height: 50px;
    vertical-align: top;
    justify-content: start;
    z-index: 10009;
}

header a img 
{
    z-index: 10009;
}

#toggle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.66s;
    z-index: 10009;
}



#toggle::before
{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after
{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;

}

.iframe
{
    min-width: 100%;
    width: 100vh;
    height: 100vh;
}

#toggle.active::before
{
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after
{
    transform: translateY(0px) rotate(-45deg);

}

#toggle.active
{
    background: #8c52ff;
    border-radius: 50%;
    transition: 0.75s;
    z-index: 10009;
}


#navbar
{
    position: calc(300vh - 60px);
    height: 50px;
    left: px;
    transition: 0.5s;
    background: #fff;
    overflow: hidden;
    width: 0px;
}
#navbar.active
{
    width: 900px;
    position: calc(100%- 60px);
}

#navbar ul
{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

#navbar ul li
{
    list-style: none;
}

#navbar ul li a
{
    color: #000;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 0px 13px;
    letter-spacing: 2px;
    border-radius: 5%;
    width: calc(100%);
}

#navbar ul li a:hover
{
    color: #8c52ff;
}


@media (max-width:992px) 
{   
    header
    {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: 0px;
        padding: 0px;
        right: 0%;
        left: 0;
        height: 50px;
        justify-content: space-between;
        z-index: 100009;
    }
    header ul
    {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 10009;
    }
    header ul li
    {
        margin: 2px;
        z-index: 10009;
    }
    header ul li a
    {
        display: inline-block;
        z-index: 10009;
    }

    #navbar
    {   
        /* padding: 90px; */
        margin-top: 60px;
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.36s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10002;
    }
    #navbar.active
    {
        height: calc(100vh - 50px);
        bottom: 0;
        width: 100%;
        z-index: 10002;
        transition: 0.3s;
    }
    #navbar ul
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10002;
        padding:0%;
    }

    @keyframes animate
    {
        0%,100%
        {
            transform: translateY(-20px);
        }
        50%
        {
            transform: translateY(20px);
        }
    }
}